
.idea/labo2.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/id3.cpython-38.pyc
__pycache__/randomForest.cpython-38.pyc
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/randomForest.cpython-38.pyc
__pycache__/id3.cpython-38.pyc
__pycache__/randomForest.cpython-38.pyc
__pycache__/id3.cpython-38.pyc
__pycache__/randomForest.cpython-38.pyc
__pycache__/id3.cpython-38.pyc
__pycache__/randomForest.cpython-38.pyc
__pycache__/randomForest.cpython-38.pyc
.ipynb_checkpoints/Informe-checkpoint.ipynb
__pycache__/randomForest.cpython-38.pyc
